<script type="module" src="{{ base_path }}/assets/js/main.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.page__content a[href^="http"]').forEach(function(link) {
            if (link.hostname !== window.location.hostname) {
            link.setAttribute('target', '_blank'); // Open links in a new tab
            link.setAttribute('rel', 'noopener'); // Prevents the "unsafe" warning in the console
            }
        });
    });
</script>